body{
    display: grid;
    background-color: rgb(247,247,250);
    align-items: top;
    justify-items: center;
    margin: 0px;
    
    grid-template-rows: 1fr 60px;
}


img{
    height: 25px;
}
.navbar{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    width: 400px;
    background-color: white;
    padding-bottom: 20px;
}
.imgscuolavuota{
    height: 32px;
}
.contimg{
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 15px;
}
.tre{
    padding-bottom: 5px;
}
.due{
    height: 30px;
}