body{
    display: grid;
    background-color: rgb(247,247,250);
    align-items: top;
    justify-items: center;
    margin: 0px;
    
    grid-template-rows: 1fr 60px;
}


img{
    height: 25px;
}
.navbar{
    position: fixed;
    bottom: 0%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 400px 1fr;
    background-color: white;
    width: 100vw;
}
.navbarinside{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding-bottom: 20px;
    height: 60px;
}
.imgscuolavuota{
    height: 32px;
}
.contimg{
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 15px;
}
.tre{
    padding-bottom: 5px;
}
.imgcalendvuoto{
    height: 30px;
}