@font-face {
    font-family: 'Galano';
    src: url(GalanoGrotesqueBold.otf);
  }


:root{
    --colore: #000;
}

body{
    display: flex;
    background-color: rgb(247,247,250);
    align-items: top;
    justify-items: center;
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    grid-auto-flow: row;
    flex-direction: column;
    gap: 20px;
}

.titolo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Galano';
    position: sticky;
    padding: 20px;
    background-color: rgba(33, 72, 145, 0.856);
    color: rgb(231, 231, 231);
    height: 20px;
    width: 100vw;
    font-size: 30px
}

.contenitore-impegni{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.contenitore-impegno-singolo{
    display: flex;
    justify-content: center;
}

.impegno{
    background-color: rgb(247,247,250);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Galano';
    width: 300px;
    height: 80px;
    cursor: pointer;
    border-radius: 18px;
    box-shadow:  5px 5px 7px #e8e8f0,
                 -5px -5px 7px #ffffff;
    transition: all 0.15s;
    color: rgb(47, 47, 139);
    font-size: 25px;
}

.impegno:hover{
    scale: 1.05;
}

.pulsanti{
    display: flex;
    justify-content: center;
    align-items: center;
}


.pulsante{
    background-color: rgb(247,247,250);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    box-shadow:  5px 5px 7px #e8e8f0,
                 -5px -5px 7px #ffffff;
}

.pulsante:active{
    
    box-shadow:  inset 5px 5px 7px #e8e8f0,
                 inset -5px -5px 7px #ffffff;
}

img{
    height: 25px;
}
.navbar{
    position: fixed;
    bottom: 0%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 400px 1fr;
    background-color: white;
    width: 100vw;
}
.navbarinside{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding-bottom: 20px;
    height: 60px;
}
.imgscuolavuota{
    height: 32px;
}
.contimg{
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 15px;
}
.tre{
    padding-bottom: 5px;
}
.imgcalendvuoto{
    height: 30px;
}

.muroblur{
    position: absolute;
    height: 100vw;
    width: 100vw;
    z-index: 2;
    backdrop-filter: blur(3px);
    scale: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.muroblur.active{
    scale: 1;
    opacity: 1;
}

.contaggiunta{
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 380px;
    width: 250px;
    background-color: rgb(247, 247, 255);
    border-radius: 18px;
    z-index: 3;
    scale:0;
    box-shadow:  0px 0px 20px #00000018;
    font-family: 'Galano';
}

.contaggiunta.active{
    scale: 1;
    animation: alza 1.5s ease-out 0.3s backwards;

}

.fine{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(24, 57, 201);
    height: 40px;
    width: 80%;
    border-radius: 18px;
    color:white;
    cursor: pointer;
}


.data{
    width: 150px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    background-color: rgb(247, 247, 255);
    border-radius: 18px;
    box-shadow:  5px 5px 7px #e8e8f0,
                 -5px -5px 7px #ffffff;

}

@keyframes alza {
    from{
        opacity: 0;
        transform: translate(-50%, 0%);
    }

    to{
        opacity: 1;
        
        transform: translate(-50%, -50%);
    }
    
}